body{
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana;
	width:1050px;
	margin-right:auto;
	margin-left:auto;
}

#container{
	background-color:#1c1c1c;
	color:#f0f0f0;
	margin-right:22px;
	margin-left:22px;
	border:1px solid #f0f0f0;
}

#header, #menu, #content, #sub_section, #footer{
	overflow:hidden;
	display:inline-block;
}

/* safari and opera need this */
#header, #menu, #footer{
	width:100%;
}

#menu{
	margin-top:-3px;
	border:1px solid #f0f0f0;
}

#content{
	float:left;
	width:750px;
	padding:10px 10px 10px 35px;
}

#sub_section{
	width:150px;
}

#sub_section .right img{
	margin-left:10px;
	border:5px solid #f0f0f0;
	border-bottom:15px solid #f0f0f0;
}

#sub_section{
}

#footer{
	clear:left;
}

#style_buttons{
	position:relative;
	left:900px;
	top:-165px;
	list-style:none;
}

#style_buttons img{
	border:1px solid #f0f0f0;
}