/* === COLOURS === 
	bright = #00ff96,
	dull   = #00995a
*/


/* === LINKS === */
a {
	color:#00ff96;
}

a:visited{
	color:#00995a;
}

a:hover{
	color:#00995a;
}

/* === HEADERS === */
h1, h2, h3, h4, h5, h6{
	color:#00ff96;
}

/* === TABLES === */
th{
	color:#00ff96;
}

/* === FORMS === */
legend{
	color:#00ff96;
}

fieldset label{
	color:#00ff96;
}

/* === PROJECT INDEX === */
h2.project a:visited{
	color:#00ff96;
}

h2.project a:hover{
	color:#00995a;
}

/* === FLARE === */
#flare{
	background:url("/images/flares/left_flare_mint.png") repeat-y;
}

#flare-right{
	background:url("/images/flares/right_flare_mint.png") repeat-y right;
}