/* === COLOURS === 
	bright = #FF00A0,
	dull   = #990060
*/


/* === LINKS === */
a {
	color:#FF00A0;
}

a:visited{
	color:#990060;
}

a:hover{
	color:#990060;
}

/* === HEADERS === */
h1, h2, h3, h4, h5, h6{
	color:#FF00A0;
}

/* === TABLES === */
th{
	color:#FF00A0;
}

/* === FORMS === */
legend{
	color:#FF00A0;
}

fieldset label{
	color:#FF00A0;
}

/* === PROJECT INDEX === */
h2.project a:visited{
	color:#FF00A0;
}

h2.project a:hover{
	color:#990060;
}

/* === FLARE === */
#flare{
	background:url("/images/flares/left_flare_pink.png") repeat-y;
}

#flare-right{
	background:url("/images/flares/right_flare_pink.png") repeat-y right;
}