<fieldset>
	<legend>Project Details</legend>
	<label for="project_name">Name</label>
	<%= f.text_field :name %><br/>
	
	<label for="project_description">Description</label>
	<%= f.text_area :description %><br/>
	
	<label for="project_date">Date</label>
	<%= f.date_select :date %><br/>
</fieldset>