<h1>Projects</h1>

<% for project in @projects %>
  <div class="project_image" style="background-image: url(<%= project.items.first.photo.url(:long) %>); height:50px; width:500px">
	<h2 class="project"><%= link_to project.name, project %></h2>
  </div>
<% end %>

<br />

<% if logged_in? %>
	<%= link_to 'New project', new_draft_project_path %>  
<% end %>