<h1>Listing items</h1>

<table>
  <tr>
  </tr>

<% for item in @items %>
  <tr>
    <td><%= link_to 'Show', [@project, item] %></td>
    <td><%= link_to 'Edit', edit_project_item_path(@project, item) %></td>
    <td><%= link_to 'Destroy', [@project, item], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New item', new_project_item_path(@project) %>
