<fieldset>
	<legend>Message Details</legend>
	<label for="contact_form_name">Name</label>
	<%= f.text_field :name %><br/>
	
	<label for="contact_form_email">Email</label>
	<%= f.text_field :email %><br/>
	
	<label for="contact_form_message">Message</label>
	<%= f.text_area :message %><br/>
</fieldset>